{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/hero.css'%}">
</head>
<body>
    <div class="spacer">
        &nbsp;
    </div>
        <div class="container">
            <div class="intro">
                <h2>Hello! I'm</h2>
                <h1>ABHISHEK THAKUR</h1>
                <div class="container1">
                    <span id="typing-text" class="typing-container"></span>
                </div>
                <div class="social-links">
                    <a href="../static/files/Resume_Abhishek_Thakur_University School Of Automation and Robotics.pdf" target="_blank"><button>Resume</button></a>
                </div>
            </div>
            <div class="profile-picture">
                <div class="content">
                    <div class="overlay">
                        <img src="../static/img/hero.png" alt="Profile Picture">
                    </div>
                </div>
                <div class="blob hero"></div>
            </div>
        </div>
    <script src="{%static 'js/hero.js'%}"></script>
</body>
</html>
