{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello_abhi004-Skills</title>
    <link rel="stylesheet" href="{%static 'css/skills.css'%}">
</head>
<body>
    {%include 'loader.html'%}
    <div id="content">
    {%include 'navbar.html'%}
    <main>
        <h1>My Skills</h1>
        <section class="skills-section" id="tech-skills">
            <h2>Tech Skills</h2>
            <div class="skills-container">
                <div class="skill">
                    <h3>Languages: </h3>
                    <br>
                    <span>
                        {% for language in languages %}
                            <img src="{{language}}" alt="skills-Image" class="skill-badge">
                        {% endfor %}
                    </span>
                </div>
                <div class="skill">
                    <h3>Framework, Platforms & Libraries:  </h3>
                    <br>
                    <span>
                        {% for framework in frameworks %}
                            <img src="{{framework}}" alt="skills-Image" class="skill-badge">
                        {% endfor %}
                    </span>
                </div>
                <div class="skill">
                    <h3>Hosting: </h3>
                    <br>
                    <span>
                        {% for hosting in hosting %}
                            <img src="{{hosting}}" alt="skills-Image" class="skill-badge">
                        {% endfor %}
                    </span>
                </div>
                <div class="skill">
                    <h3>Databases: </h3>
                    <br>
                    <span>
                        {% for database in databases %}
                            <img src="{{database}}" alt="skills-Image" class="skill-badge">
                        {% endfor %}
                    </span>
                </div>
                <div class="skill">
                    <h3>Design: </h3>
                    <br>
                    <span>
                        {% for design in design %}
                            <img src="{{design}}" alt="skills-Image" class="skill-badge">
                        {% endfor %}
                    </span>
                </div>
                <div class="skill">
                    <h3>Others: </h3>
                    <br>
                    <span>
                        {% for other in others %}
                            <img src="{{other}}" alt="skills-Image" class="skill-badge">
                        {% endfor %}
                    </span>
                </div>
            </div>
        </section>

        <section class="skills-section" id="non-tech-skills">
            <h2>Soft Skills</h2>
            <div class="skills-container">
                <div class="competence-container">
                    <span>
                        {% for skill in skills %}
                        <div class="competence">
                            <img src="..{{skill.skill_image.url}}" alt="{{skill.skill_name}}" class="competence-logo">
                            <p class="competence-name">{{skill.skill_name}}</p>
                        </div>
                        {% endfor %}
                    </span>
                </div>
            </div>
        </section>

        <section class="stats-section" id="github-stats">
            <h2>GitHub Stats</h2>
            {% for github in github %}
            <div class="stats-container">
                <!-- github-stats -->
                <span class="github-stats">
                    {% if github %}
                        <img src="{{github.github_contribution}}" alt="GitHub Stats">
                        <img src="{{github.github_streak}}" alt="GitHub Streak">
                    {% endif %}
                </span>
                <img src="{{github.github_language_used}}" alt="Top Languages">
            </div>
            {% endfor %}
        </section>

        <section class="stats-section" id="leetcode-stats">
            <h2>LeetCode Stats</h2>
            <!-- leetcode-stats -->
             {% for leetcode in leetcode %}
            <div class="stats-container">
                <img src="{{leetcode.leetcode_profile}}" alt="LeetCode Stats">
            </div>
            {% endfor %}
        </section>
    </main>
    {%include 'footer.html'%}
</div>
</body>
</html>
