html *{
    -webkit-font-smoothing: antialiased;
}

.h6, h6 {
    font-size: .75rem !important;
    font-weight: 500;
    line-height: 1.5em;
    text-transform: uppercase;
}

.name h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a .material-icons {
    vertical-align: middle;
}

.fixed-top {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
}

.profile-page .page-header {
    height: 380px;
    background-position:center;
}

.page-header {
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.header-filter:after, .header-filter:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.header-filter::before {
    background: rgba(0,0,0,.5);
}

.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #FFF;
    position: relative;
    z-index: 3;
}

.profile-page .profile {
    text-align: center;
}

.profile-page .profile img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #3C4858;
    font-weight: 700;
    /* font-family: "Roboto Slab","Times New Roman",serif; */
}

.profile-page .description {
    margin: 1.071rem auto 0;
    max-width: 600px;
    color: #999;
    font-weight: 300;
}

p {
    font-size: 14px;
    margin: 0 0 10px;
}

.profile-page .profile-tabs {
    margin-top: 4.284rem;
}

.nav-pills, .nav-tabs {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.nav .nav-item {
    position: relative;
    margin: 0 2px;
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
    border-radius: 4px;
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #9c27b0;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}

.nav-pills .nav-item .nav-link {
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    color: #555;
    transition: all .3s;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
}

.nav-pills .nav-item .nav-link:not(.active):hover {
    background-color: rgba(200,200,200,.2);
}


.nav-pills .nav-item i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}

.tab-space {
    padding: 20px 0 50px;
}

.profile-page .gallery {
    margin-top: 3.213rem;
    padding-bottom: 50px;
}

.profile-page .gallery img {
    width: 100%;
    margin-bottom: 2.142rem;
}

.profile-page .profile .name{
    margin-top: -80px;
}

img.rounded {
    border-radius: 6px!important;
}

.tab-content>.active {
    display: block;
}
.education,.experience,.hobbies,.certification {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0px 20px;
    max-width: auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(143, 141, 141, 0.1);
}

.title-text h2{
    margin-top: 0;
    font-size: auto;
}

/* .education */
.education h3,
.education p{
    margin: 5px 0;
}
.education h3 {
    margin: 0;
    font-size: 20px;
    color: #FF6700;
}

.education p {
    margin: 5px 0;
    color: #7f8c8d;
    font-size: 16px;
}

.education span {
    display: block;
    color: #999;
    font-size: 14px;
}

.education p i {
    color: #FF6700;
    margin-right: 5px;
}

/* .experience */
.experience h3,
.experience p {
    margin: 5px 0;
}
.experience h3 {
    margin: 0;
    font-size: 20px;
    color: #FF6700;
}

.experience p {
    margin: 5px 0;
    color: #7f8c8d;
    font-size: 16px;
}

.experience span {
    display: block;
    color: #999;
    font-size: 14px;
}

.experience p i {
    color: #FF6700;
    margin-right: 5px;
}

.about-button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 2px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    cursor: pointer;
    font-size: 17px;
    border-radius: 500px;
    border: 2px solid  #FF6700;
    overflow: hidden;
    background: #FF6700;
    color: #FF6700;
    
   }
   
   .about-button .about-span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .about-button:hover .about-span {
    color: black;
   }
   
   .about-button::before,
   .about-button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .about-button::before {
    content: "";
    background: #ffffff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .about-button:hover::before {
    transform: translate3d(100%, 0, 0);
   }

   /* .certification */
.certification {
    flex: 1;
}

.certification h3 {
    margin: 0;
    font-size: 18px;
}

.certification p {
    margin: 5px 0;
    color: #666;
}

.certification span {
    display: block;
    color: #999;
    font-size: 14px;
}

.spacer {
    margin: 10px;
}   

.quote img{
    align-items: center;
    justify-content: center;
    display: flex;
}