html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.background-image {
    position: relative;
    width: 100%;
    height: auto; /* Adjust this as needed */
}
.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 115%;
    width: auto;
    opacity: 0;
}

@media (min-aspect-ratio: 4/3) {
    img {
        height: auto;
        width: 100%;
    }
}

@media (max-aspect-ratio: 3/5) {
    img {
        left: 30%;
    }
}

.overlay {
    position: fixed;
    top: 50%;
    left: 30%;
    max-width: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 10vh;
    font-weight: bold;
    pointer-events: none;
    text-transform: uppercase;
}

@media (max-aspect-ratio: 1/1) {
    .overlay {
        left: 50%;
        width: 90%;
        max-width: 90%;
    }
}

@media (max-aspect-ratio: 3/5) {
    .overlay {
        font-size: 5vh;
    }
}

.typing-container {
    font-family: inherit;
    font-size: inherit;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #FF6700;
    color: #FF6700;
    width: 20ch; /* Adjust to control the width of the text container */
    animation: typing 4s steps(20, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 20ch; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #FF6700; }
}